.table {
  margin-top: 2rem;
  overflow-y: scroll;
  height: 20rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.2rem;
}

.table tr:nth-of-type(odd) {
  background-color: lightsteelblue;
}